# Backend
pcelinjak-backend/target/
pcelinjak-backend/.idea/
*.class
*.jar
*.war
*.iml

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/coverage/
mobile/**/*.iml
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/

# Docker / env
.env
logs/
*.log

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
